.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
/*Screens up to 480px wide*/
@media screen and (max-width: 480px) {
  .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
