body {
  background-color: rgb(122, 150, 122);
}

.card-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 160px;
  height: 240px;
  display: flex;
  flex-direction: column;
  background-color: #a3bda5;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
